.wrap {width: 100%; height: 700px; max-width: 1600px;  margin: auto; text-align: center; border-top:1px solid orange;
	
/* background: orange url('../img/chicago.jpg') center center no-repeat ; */
background-color: orange;	
background-image: url('../img/chicago.jpg');
background-repeat: no-repeat;
background-position: center center;
/*
background-position: [좌우] [상하]
background-position: left top; 
background-position: left bottom; 
background-position: center top; 
background-position: center 50px;
*/ 
background-size: cover; 
/*
background-size: [가로] [세로]
background-size: 100% 100%;
background-size: 100% auto;
background-size: auto 100%;
background-size: 500px auto;
*/
}
.slogan {margin-top: 500px;}