/* 공통사항 */
.wrap {width: 100%; max-width: 1920px; margin: auto;}
.wrap2 {width: 100%; max-width: 800px; margin: auto; padding: 50px 0;}
.nav-hover:hover {background-color: #ccc; color: #000;}
.nav-hover-orange:hover {background-color: #f20;}
.sec-tit {text-align: center;}
.sec-tit2 {text-align: center; padding: 30px 0;}

/* 상단네비 */
.top-nav {background-color: #000; color: #fff;}
.top-nav > .nav-lt {float: left;}
.top-nav > .nav-rt {float: right; padding: 16px 24px;}
.top-nav > .nav-lt div {float: left;}
.top-nav > .nav-lt > .nav-home {padding: 16px 24px;}
.top-nav > .nav-lt > .nav-wrap > div {padding: 16px 24px;}
/* .top-nav:after {display: block; content: ""; clear: both;} */

.bands {}
