html, body {margin: 0; padding: 0; font-size: 16px; 
	color: #111;}
div, p, ul, li, ol, dl, dd, dt, form, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}

/* 공통사항 */
.clear:after {display: block; content: ""; clear: both;}
.pointer {cursor: pointer;}
.img {width: 100%;}